.wishedImage {
    border-radius: 10px;
    border: solid 2px black;
    float: left;
    height: 210px;
    margin-left: 25px;
    margin-top: 15px;
    width: 230px;
}

.wishedItemContainer {
    background-color: rgb(96, 125, 145);
    border: solid 2px black;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-top: 30px;
    width: 1000px;
}

.removeButton {
    float: right;
    margin-right: 10px;
}

.wishedRating {
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: -40px;
}
.wishButtonsContainer {
    margin-left: 570px;
    display: flex;
    text-align: center;
} 

.wishPrice {
    color: green;
    font-size: 20px;
}

.wishGenres {
    margin-top: 10px;
}